.header {
    background-color:black;
    color: white;
    padding: 5px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.btn-light {
    background-color: #f5f5f5;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    right: 7%;
}

.btn-light1 {
    background-color: #f5f5f5;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute;
    right: 3%;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.product-item {
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.product-name {
    font-size: 18px;
    margin: 10px 0;
}

.product-description {                                                                                                                                      
    font-size: 14px;
    color: #666;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    color: #00a000;
}

.product-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    gap: 20px; /* Espacio entre la imagen y la información */
}

.product-info {
    flex-grow: 1; /* Hace que la información del producto ocupe todo el espacio disponible */
}

.product-container {
    display: flex; /* Utiliza Flexbox para mostrar los productos en una fila */
    flex-wrap: wrap; /* Permite que los productos se envuelvan a la siguiente línea si no caben en el ancho de la pantalla */
    justify-content: flex-start; /* Espacio entre los productos */
}
.product-info h2 {
    font-size: 24px; /* Tamaño del nombre del producto */
    margin-top: 30px; /* Elimina el margen superior predeterminado */
    margin-left: 50px;
}

.product-info p {
    margin-bottom: 5px; /* Espacio entre los elementos de información */
    margin-top: 30px; /* Elimina el margen superior predeterminado */
    margin-left: 50px;
}

.product-info .btn {
    margin-top: 10px; /* Espacio entre el contenido y el botón "Volver" */
    margin-left: 50px;
}