{% extends 'principal.html.twig' %}
{% block stylesheets %}
    <!-- Enlace a la hoja de estilos personalizada para el formulario de inicio de sesión -->
    <link rel="stylesheet" href="http://localhost/PP1/SISTGESTION/assets/css/styles.css">
{% endblock %}
    
{% block content %}
<!-- Enlace a la hoja de estilos personalizada para el formulario de inicio de sesión -->
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Mostrar el mensaje de confirmación
        var mensajeConfirmacion = document.getElementById('mensaje-confirmacion');
        mensajeConfirmacion.classList.remove('hidden');
    // Ocultar el mensaje después de 5 segundos (5000 milisegundos)
        setTimeout(function() {
            mensajeConfirmacion.classList.add('hidden');
        }, 5000); // 5000 milisegundos = 5 segundos
        });
    </script>
  {% block header %}
    {# Tu contenido adicional para el bloque header #}
    {{ parent() }} {# Esto incluirá el contenido original del bloque header de principal.twig #}
 {% endblock %}
 <body class="fondo-blanco">
  <img class="imgroup" src="images/Group.png" >
    <p class="pgroup">Agregar</p>
    <form method="post" action="{{ path('agregar_p') }}">
    <div class="formAgregar">
      <img class="imgformkit" src="images/formkit_add.png" >
      <p class="pformAgregar pCodigo">Codigo:</p>
      <input class="inputCodigo inputDatos" type="number" id="codigoInput" name="codigo" placeholder="Ingresa el numero del codigo" required>
   
      <img class="imgformkit imgLinea" src="images/formkit_add.png" >
      <p class="pformAgregar pLinea">Linea:</p>
      <input class="inputLinea inputDatos" type="text" id="lineaInput" name="linea" placeholder="Ingresa la linea">
    
      <img class="imgformkit imgNombre" src="images/formkit_add.png" >
      <p class="pformAgregar pNombre">Nombre:</p>
      <input class="inputNombre inputDatos" type="text" id="nombreInput" name="nombre" placeholder="Ingresa el nombre">

      <img class="imgformkit imgCantidad" src="images/formkit_add.png" >
      <p class="pformAgregar pCantidad">Cantidad:</p>
      <input class="inputCantidad inputDatos" type="number" id="cantidadInput" name="cantidad" placeholder="Ingrese la cantidad">

      <img class="imgformkit imgMetro" src="images/formkit_add.png" >
      <p class="pformAgregar pMetro">Metros:</p>
      <input class="inputMetro inputDatos" type="number" id="metrosInput" name="metros" placeholder="Ingrese los metros">
    
      <img class="imgformkit imgfoto" src="images/fotoimagen.png" >
      <p class="pformAgregar pfoto">Imagen:</p>
      
      <button class="botonGuardar" type="submit">Guardar</button>
      <div id="mensaje-confirmacion" class="mensaje-confirmacion hidden">
            El perfil se ha guardado correctamente.
      </div>
    </div>
    </form>
</body>
{% endblock %}