{% block stylesheets %}
    <!-- Enlace a la hoja de estilos personalizada para el formulario de inicio de sesión -->
    <link rel="stylesheet" href="http://localhost/PP1/SISTGESTION/assets/css/stylesLogin.css">
{% endblock %}
{% block content %}
    <!-- Contenedor principal -->
    <div class="div-general">
        <!-- Div para la imagen en la parte izquierda -->
        <div class="div-imagen" >
            <img src="images/LoginImagen.png" >
        </div>
        <!-- Div para el formulario de inicio de sesión en la parte derecha -->
        <div class="div-login">
            <!-- Logo en la parte superior del formulario -->
            <img src="images/SanNicolas.png" >
             <!-- Título del formulario -->
            <p class="titulo">
                Bienvenido de vuelta
            </p>
            <!-- Título para el campo de correo electrónico -->
            <p class="titulo email"> 
                Email
            </p>
            <!-- Título para el campo de contraseña -->
            <p class="titulo contraseña">
                Contraseña
            </p>
            <!-- Campo de entrada para el correo electrónico -->
            <input class="inputEmail inputDatos" type="email" id="emailInput" name="email" placeholder="Ingresa tu email">
            <!-- Campo de entrada para la contraseña -->
            <input class="inputContraseña inputDatos" type="password" id="passwordInput" name="password" placeholder="Ingresa tu contraseña">
            <!-- Botón para iniciar sesión con enlace -->
            <button class="botonIniciar"><a href="{{ path('princ') }}">Iniciar sesión</a></button>
             <!-- Enlace para redirigir a la página de registro -->
            <p class="linkCrearCuenta"><a href="{{ path('registro') }}">¿Todavia no tienes una cuenta? Crea una ahora</a></p>

            </div>
        </div>
    
    </div>
{% endblock %}