{% block stylesheets %}
    <link rel="stylesheet" href="http://localhost/PP1/SISTGESTION/assets/css/stylesRegistro.css">
{% endblock %}
{% block content %}
    <div class="div-general">
        <div class="div-imagen" >
            <img src="images/telefono-movil.png" >
        </div>

        <div class="div-registro">

            <img src="images/SanNicolas.png" >
            <a href="{{ path('login') }}"><div class="flecha-volver">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="72" height="72" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M5 12l14 0" />
                    <path d="M5 12l6 6" />
                    <path d="M5 12l6 -6" />
                </svg>
            </div></a>

            <p class="titulo">
               Crear Cuenta
            </p>

           <p class="titulo nombre"> 
                Nombre
            </p>

            <p class="titulo apellido">
                Apellido
            </p>

            <p class="titulo email">
                Email
            </p>

            <p class="titulo contrase単a">
                Contrase単a
            </p>

            <input class="inputEmail inputDatos" type="email" id="emailInput" name="email" placeholder="Ingresa tu email">
            <input class="inputContrase単a inputDatos" type="password" id="passwordInput" name="password" placeholder="Ingresa tu contrase単a">
            <input class="inputNombre inputDatos" type="text" id="nombreInput" name="nombre" placeholder="Ingresa tu nombre">
            <input class="inputApellido inputDatos" type="text" id="apellidoInput" name="apellido" placeholder="Ingresa tu apellido">
            
            <button class="botonCrear"><a href="{{ path('princ') }}">Crear Cuenta</a></button>
        </div>
    
    </div>
{% endblock %}