{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/styles.css" type="text/css">
{% endblock %}
{% block content %} 
         {% for categoria in categorias %}
                <div class="categ-cont">
                {% if categoria.id == 0 %}
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M85.5833 21.7917L79.7917 14.7917C78.6667 13.375 76.9583 12.5 75 12.5H25C23.0417 12.5 21.3333 13.375 20.1667 14.7917L14.4167 21.7917C13.2083 23.2083 12.5 25.0833 12.5 27.0833V79.1667C12.5 83.75 16.25 87.5 20.8333 87.5H79.1667C83.75 87.5 87.5 83.75 87.5 79.1667V27.0833C87.5 25.0833 86.7917 23.2083 85.5833 21.7917ZM50 72.9167L27.0833 50H41.6667V41.6667H58.3333V50H72.9167L50 72.9167ZM21.3333 20.8333L24.7083 16.6667H74.7083L78.625 20.8333H21.3333Z" fill="#0000FF"/>
                </svg>
              {% endif %}
              {% if categoria.id == 1 %}
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M54.1667 20.8333H87.5M54.1667 37.5H75M54.1667 62.5H87.5M54.1667 79.1666H75M12.5 20.8333C12.5 19.7282 12.939 18.6684 13.7204 17.887C14.5018 17.1056 15.5616 16.6666 16.6667 16.6666H33.3333C34.4384 16.6666 35.4982 17.1056 36.2796 17.887C37.061 18.6684 37.5 19.7282 37.5 20.8333V37.5C37.5 38.605 37.061 39.6648 36.2796 40.4462C35.4982 41.2276 34.4384 41.6666 33.3333 41.6666H16.6667C15.5616 41.6666 14.5018 41.2276 13.7204 40.4462C12.939 39.6648 12.5 38.605 12.5 37.5V20.8333ZM12.5 62.5C12.5 61.3949 12.939 60.3351 13.7204 59.5537C14.5018 58.7723 15.5616 58.3333 16.6667 58.3333H33.3333C34.4384 58.3333 35.4982 58.7723 36.2796 59.5537C37.061 60.3351 37.5 61.3949 37.5 62.5V79.1666C37.5 80.2717 37.061 81.3315 36.2796 82.1129C35.4982 82.8943 34.4384 83.3333 33.3333 83.3333H16.6667C15.5616 83.3333 14.5018 82.8943 13.7204 82.1129C12.939 81.3315 12.5 80.2717 12.5 79.1666V62.5Z" stroke="#FFA500" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

              {% endif %}
              {% if categoria.id == 2 %}
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M80.4167 37.1875L62.7083 19.6875L68.5417 13.8542C70.1389 12.257 72.1014 11.4584 74.4292 11.4584C76.7569 11.4584 78.718 12.257 80.3125 13.8542L86.1458 19.6875C87.743 21.2848 88.5764 23.2125 88.6458 25.4709C88.7153 27.7292 87.9514 29.6556 86.3542 31.25L80.4167 37.1875ZM74.375 43.3334L30.2083 87.5H12.5V69.7917L56.6667 25.625L74.375 43.3334Z" fill="#008000"/>
                </svg>

              {% endif %}
              {% if categoria.id == 3 %}
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_9_73)">
                <g clip-path="url(#clip1_9_73)">
                <path d="M50 87.5C40.4167 87.5 32.0653 84.3222 24.9458 77.9667C17.8264 71.6111 13.7472 63.6778 12.7083 54.1667H21.25C22.2222 61.3889 25.4347 67.3611 30.8875 72.0833C36.3403 76.8055 42.7111 79.1667 50 79.1667C58.125 79.1667 65.0181 76.3361 70.6792 70.675C76.3403 65.0139 79.1694 58.1222 79.1667 50C79.1667 41.875 76.3361 34.9819 70.675 29.3208C65.0139 23.6597 58.1222 20.8306 50 20.8333C45.2083 20.8333 40.7292 21.9444 36.5625 24.1667C32.3958 26.3889 28.8889 29.4444 26.0417 33.3333H37.5V41.6667H12.5V16.6667H20.8333V26.4583C24.375 22.0139 28.6986 18.5764 33.8042 16.1458C38.9097 13.7153 44.3083 12.5 50 12.5C55.2083 12.5 60.0875 13.4903 64.6375 15.4708C69.1875 17.4514 73.1458 20.1236 76.5125 23.4875C79.8792 26.8569 82.5528 30.8153 84.5333 35.3625C86.5139 39.9097 87.5028 44.7889 87.5 50C87.5 55.2083 86.5097 60.0875 84.5292 64.6375C82.5486 69.1875 79.8764 73.1458 76.5125 76.5125C73.1431 79.8792 69.1847 82.5528 64.6375 84.5333C60.0903 86.5139 55.2111 87.5028 50 87.5ZM61.6667 67.5L45.8333 51.6667V29.1667H54.1667V48.3333L67.5 61.6667L61.6667 67.5Z" fill="#808080"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_9_73">
                <rect width="100" height="100" fill="white"/>
                </clipPath>
                <clipPath id="clip1_9_73">
                <rect width="100" height="100" fill="white"/>
                </clipPath>
                </defs>
                </svg>

              {% endif %}
              {% if categoria.id == 4 %}
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M90.207 85.9375C89.9327 86.4127 89.5381 86.8072 89.0629 87.0815C88.5877 87.3558 88.0487 87.5001 87.5 87.5H12.5C11.9517 87.4994 11.4132 87.3546 10.9386 87.0801C10.464 86.8056 10.07 86.4111 9.79607 85.9361C9.52218 85.4612 9.37806 84.9225 9.3782 84.3742C9.37835 83.8259 9.52274 83.2873 9.79688 82.8125C15.7461 72.5274 24.9141 65.1524 35.6133 61.6563C30.321 58.5057 26.2092 53.705 23.9093 47.9914C21.6095 42.2778 21.2488 35.9672 22.8826 30.0287C24.5164 24.0903 28.0544 18.8523 32.9532 15.1192C37.8521 11.3862 43.8409 9.36438 50 9.36438C56.1591 9.36438 62.1479 11.3862 67.0468 15.1192C71.9456 18.8523 75.4836 24.0903 77.1174 30.0287C78.7512 35.9672 78.3905 42.2778 76.0907 47.9914C73.7908 53.705 69.679 58.5057 64.3867 61.6563C75.0859 65.1524 84.2539 72.5274 90.2031 82.8125C90.478 83.2872 90.6231 83.8259 90.6238 84.3745C90.6244 84.923 90.4807 85.4621 90.207 85.9375Z" fill="black"/>
                </svg>

              {% endif %}
              {% if categoria.id == 5 %}
                <svg width="79" height="79" viewBox="0 0 79 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M70.75 2H8.25C4.79822 2 2 4.79822 2 8.25V70.75C2 74.2018 4.79822 77 8.25 77H70.75C74.2018 77 77 74.2018 77 70.75V8.25C77 4.79822 74.2018 2 70.75 2Z" stroke="#FF0000" stroke-width="4" stroke-linejoin="round"/>
                <path d="M39.5 22.8333V56.1666M22.8333 39.5H56.1666" stroke="#FF0000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>


              {% endif %} 
                <h2>{{ categoria.nombre }}</h2>
                <p>{{ categoria.descripcion }}</p>
            </div>
          {% endfor %}
{% endblock %}
