{# templates/stock.html.twig #}
{% extends 'principal.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="http://localhost/PP1/SISTGESTION/assets/css/styles.css">
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Stock</title>
</head>
<body>
    {% block header %}
    {# Tu contenido adicional para el bloque header #}
    {{ parent() }} {# Esto incluirá el contenido original del bloque header de principal.twig #}
 {% endblock %}
    <div class="lista-stock">
       <table>
       <ul>
            <li>Codigo</li>
            <li>Codigo</li>
        </ul>
        </table>
        <table>
        <ul>
            <li>Linea</li>
        </ul>
        </table>
        <ul>
            <li>Nombre</li>
        </ul>
        <ul>
            <li>Cantidad</li>
        </ul>
        <ul>
            <li>Metros</li>
        </ul>
    </div>
</body>
</html>
{% endblock %}