{% extends 'principal.html.twig' %}
{% block stylesheets %}
    <!-- Enlace a la hoja de estilos personalizada para el formulario de inicio de sesión -->
    <link rel="stylesheet" href="http://localhost/PP1/SISTGESTION/assets/css/stylesAgregar.css">
{% endblock %}
{% block content %}
  {% block header %}
    {# Tu contenido adicional para el bloque header #}
    {{ parent() }} {# Esto incluirá el contenido original del bloque header de principal.twig #}
 {% endblock %}
 <h2 class="nombre-usuario stock_n_position"> Usuario </h2>
        <div class="img_stock">
            <svg width="50" height="50" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M90.207 85.9375C89.9327 86.4127 89.5381 86.8072 89.0629 87.0815C88.5877 87.3558 88.0487 87.5001 87.5 87.5H12.5C11.9517 87.4994 11.4132 87.3546 10.9386 87.0801C10.464 86.8056 10.07 86.4111 9.79607 85.9361C9.52218 85.4612 9.37806 84.9225 9.3782 84.3742C9.37835 83.8259 9.52274 83.2873 9.79688 82.8125C15.7461 72.5274 24.9141 65.1524 35.6133 61.6563C30.321 58.5057 26.2092 53.705 23.9093 47.9914C21.6095 42.2778 21.2488 35.9672 22.8826 30.0287C24.5164 24.0903 28.0544 18.8523 32.9532 15.1192C37.8521 11.3862 43.8409 9.36438 50 9.36438C56.1591 9.36438 62.1479 11.3862 67.0468 15.1192C71.9456 18.8523 75.4836 24.0903 77.1174 30.0287C78.7512 35.9672 78.3905 42.2778 76.0907 47.9914C73.7908 53.705 69.679 58.5057 64.3867 61.6563C75.0859 65.1524 84.2539 72.5274 90.2031 82.8125C90.478 83.2872 90.6231 83.8259 90.6238 84.3745C90.6244 84.923 90.4807 85.4621 90.207 85.9375Z" fill="black"/>
            </svg>
         </div>
{% endblock %}