body {
    background-color: #EBEAEF; /* Color de fondo */
    margin: 0; /* Eliminar márgenes por defecto */
    padding: 0; /* Eliminar relleno por defecto */

}


.categoria {
    margin-top: 9rem;
    
}

.categ-cont {
    width: 20.5rem;
    height: 28rem;
    border: solid;
    border-radius: 10%;
    border-width: thin;
    margin-top: 1.5rem;
    margin-right: 4.9rem;
    margin-left: 10rem;
    margin-bottom: 7rem;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    background-color: white;
}

.categ-cont img{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border: solid;
    border-width: thin;
    width: 326px;
    height: 280px;
}

a {
    text-decoration: none;
}

.nombre-stock {
   color: blue;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}

.nombre-info {
    color: orange;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.nombre-edit {
    color: green;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.nombre-hist {
    color: grey;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.nombre-usuario {
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.nombre-agregar {
    color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.encabezado {
    border-bottom: solid;
    background-color: white;
    padding: 3rem;
    border-width: thin;
}

.imagen1 {
    position: absolute;
    top: 1rem;
    left: 2rem;
}

.icono1 {
   position: absolute;
   top: 0.7rem;
   left: 90rem;
}

.icono2 {
    position: absolute;
    top: 1px;
    left: 95rem;
 }


.filtrar-cont{
    width: 105rem;
    height: 18rem;
    border: solid;
    border-radius: 10%;
    border-width: thin;
    margin-top: 3rem;
    margin-left: 7rem;
    text-align: center;
    
}

.filtrar-text{
    position: absolute;
    top: 9rem;
    left: 50rem;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    margin-left: 3rem;
    

}

.filtrar-img{
    position: absolute;
    top: 11.5rem;
    left: 49rem;
}

.filtrar-menud{
    position: absolute;
    top: 20rem;
    left: 29rem;
    margin-left: 20rem;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    height: 50px;
    border-color: blue;
    background-color: beige;
}

.img_titulo{
    position: absolute;
    top: 10.5rem;
    left: 10rem;
}

.titulo_n_position {
    position: absolute;
    top: 10rem;
    left: 14rem;
}

.lista-stock {
    position: fixed;
    top: 15rem;
    left: 15rem;
    list-style: none;
    
    
}

.lista-stock table, th, td {
    border: black solid 1px;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 80%;
}

.lista-stock th, td {
    padding: 1rem;
}

.ancho_tabla {
    width: 80%;
}

.ancho_tabla :first-child {
    width:20%;
}

.ancho_tabla th,td {
    width:50%;
}

.datos-usuario1{
    position: absolute;
    top: 16rem;
    left: 12rem;
    border: solid;
    border-width: thin;
    border-radius: 1rem 1rem 1rem 1rem;
    width: 90rem;
    height: 6rem;
    padding-top: 1.5rem;
    padding-left: 2rem;
}

.datos-usuario1 button{
    position: absolute;
    top: 2.3rem;
    left: 78rem;
    border-radius: 1rem 1rem 1rem 1rem;
    width: 10rem;
    height: 3rem;
    font-size: 18px;
}

.opciones-usuario-cont{
    position: absolute;
    top: 25rem;
    left: 12rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 77.9%;
    height: 40%;
    border: solid;
}


.opciones-usuario-cont ul li{
    list-style: none;
}

/* ================================================================================================================ */
/* Espacio correspondiente al HTML Agregar */
/* Modificaciones comunes entre las opciones */
.imgroup{
    position: absolute;
    top: 203px;
    left: 112px;
    width: 55px;
    height: 55px;
}
.pgroup{
    position: absolute;
    top: 175px;
    left: 188px;
    font-weight: bold;
    font-size: 38px;
    font-family: 'murecho', sans-serif; 
    color: red;
}
.imgformkit{
    position: absolute;
    top: 334px;
    left: 152px;
}
.pformAgregar{
    font-weight: bold;
    font-size: 28px;
    font-family: 'murecho', sans-serif;
}
/* Modificaciones correspondientes al las opciones de codigo */
.pCodigo{
    position: absolute;
    top: 310px;
    left: 209px;
}
.inputCodigo{
    position: absolute;
    top: 330px;
    left: 349px;
}
.inputDatos{
    width: 430px;
    height: 42px;
    font-size: 28px;
}
/* Fondo blanco para el body*/
.fondo-blanco{
    background-color: white;
}
/* Modificaciones correspondientes al las opciones de linea */
.imgLinea{
    position: absolute;
    top: 404px;
    left: 152px;
}
.pLinea{
    position: absolute;
    top: 380px;
    left: 209px;
}
.inputLinea{
    position: absolute;
    top: 400px;
    left: 349px;
}
/* Modificaciones correspondientes al las opciones de nombre*/
.imgNombre{
    position: absolute;
    top: 478px;
    left: 152px;
}
.pNombre{
    position: absolute;
    top: 454px;
    left: 209px;
}
.inputNombre{
    position: absolute;
    top: 474px;
    left: 349px;
}
/* Modificaciones correspondientes al las opciones de cantidad */
.imgCantidad{
    position: absolute;
    top: 548px;
    left: 152px;
}
.pCantidad{
    position: absolute;
    top: 524px;
    left: 209px;
}
.inputCantidad{
    position: absolute;
    top: 544px;
    left: 349px;
}
/* Modificaciones correspondientes al las opciones de metro */
.imgMetro{
    position: absolute;
    top: 618px;
    left: 152px;
}
.pMetro{
    position: absolute;
    top: 597px;
    left: 209px;
}
.inputMetro{
    position: absolute;
    top: 614px;
    left: 349px;
}
/* Modificaciones correspondientes al la opciones de foto */
.imgfoto{
    position: absolute;
    top: 683px;
    left: 152px;
}
.pfoto{
    position: absolute;
    top: 662px;
    left: 209px;
}
/* Modificaciones correspondientes al boton agregar */
.botonGuardar{
    width: 176px;
    height: 36px;
    background-color: #2A49FF;
    color: white;
    font-size: 28px;
    border-radius: 5px;
    position: absolute;
    top: 768px;
    left: 349px;
}

/* Fin del espacio correspondiente al HTML Agregar */
/* ================================================================================================================ */
/* ================================================================================================================ */
/* Espacio correspondiente al HTML Informacion */
.perfil-container {
    width: 100%;
}

.perfil {
    width: 100%;
    margin-bottom: 20px;
}


.form-control-busqueda{
    position: absolute;
    top: 236px;
    left: 453px;
    width: 498px;
    height:53px;
    border-radius:30px;
}
.img-buscador-informacion{
    position: absolute;
    top: 238px;
    left: 901px;
    height:54px;
    background:none;
    border: none;
}
.texto_img{
    position: absolute;
    top: 290px;
    left: 73px;
}
.texto_img img,
.texto_img p {
    display: inline-block;
    vertical-align: middle;
    color: #FFA500;
}

.p-informacion{
     font-weight: bold;
     font-size: 28px;
     font-family: 'murecho', sans-serif;
     margin-top: 20px;
     
}
.p-informaciones{
    margin-top: 285px;
}
.p-informacion p {
    margin-bottom: 10px;
    margin-left: 372px;
    
}

.contenedor_editar {
    display: inline-block;
    border-radius: 15px;
    padding: 5px;
    width: 149px; /* Ancho del div */
    height: 39px; /* Alto del div */
    border: 2px solid; 
    margin-left: 372px;
    margin-top:50px;
}

.editar-icono {
    width: 30px;
    height: 30px;
}

.editar-texto {
    font-size: 28px;
    font-weight: bold;
    color: #008000;
    margin-left: 5px; /* Espacio entre la imagen y el texto */
}

.contenedor_img{
    border: 2px solid black;
    border-radius: 30px;
    height: 200px;
    width: 200px;
    margin-top: -250px;
    margin-left: 70px;
}

.imagen_perfil {
   padding-top:40px;
   padding-left:20px;
    width:180px;
    height:105px;
}

/* Fin del espacio correspondiente al HTML informacion */
/* ================================================================================================================ */
/* ================================================================================================================ */
/* Espacio correspondiente al HTML editar_informacion */
.editar-icono2 {
    width: 30px;
    height: 30px;
}

.editar-texto2 {
    font-size: 28px;
    font-weight: bold;
    color: #008000;
    margin-left: 5px; /* Espacio entre la imagen y el texto */
    font-family: 'murecho', sans-serif;
}

.contenedor_editar2 {
    display: inline-block;
    margin-top: 90px;
    padding: 5px;
    width: 149px; /* Ancho del div */
    height: 39px; /* Alto del div */
    
    margin-left: 72px;
}

.datos_editar{
    margin-left: 372px;
    font-family: 'murecho', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.btn-primary{
    margin-left: 372px;
    height: 36px;
    width: 176px;
    border-radius: 5px;
    background-color: #2A49FF;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.btn-secondary{
    height: 36px;
    width: 176px;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    position: absolute;
    left: 580px;
    font-size: 28px;
}
.ed_met{
    margin-bottom: 20px;
    margin-top:-60px;
}
.ed_cant{
    margin-bottom: 20px;
}

.input-grande{
    height: 28px;
    font-size: 16px;
}

.contenedor_img2{
    border: 2px solid black;
    border-radius: 30px;
    height: 200px;
    width: 200px;
    margin-top: -150px;
    margin-left: 70px;
}
.imagen_perfil2 {
   padding-top:40px;
   padding-left:20px;
    width:180px;
    height:105px;
}

.mensaje_error_perfil {
    position: absolute;
    top: 20rem;
    left: 29rem;
    color: red;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fin del espacio correspondiente al HTML editar_informacion */
/* ================================================================================================================ */


/* Agrega estilos para el mensaje de confirmación */
.mensaje-confirmacion {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}

.mensaje-confirmacion.hidden {
    display: none; 
}


.usuario-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 80px;
}

.nombre-apellido {
    display: flex;
    justify-content: space-between;
}

.usuario-info1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7px;
    left: 120px; 
}

.usuario-info-email1 {
    position: absolute;
    top: 70px;
    left: 120px; 
}

.nombre-usuario-aut1,
.apellido-usuario-aut1 {
    font-size: 35px; 
}

.apellido-usuario-aut1 {
    margin-left: 5px; 
}

.email-usuario-aut {
    font-size: 20px;
    text-decoration: underline;
}

/* Estilos para la pantalla principal */
.nombre-usuario-aut,
.apellido-usuario-aut {
    font-size: 25px; 
}

.apellido-usuario-aut {
    margin-left: 5px; 
}

.actual-contr{
    margin-top: 1rem;
}

.nuevo-email{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    position: absolute;
    top: 17rem;
    left: 5rem;
}

.actual-contr label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    position: absolute;
    top: 4rem;
    padding: 0;
    
}

.nueva-contr label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    position: absolute;
    top: 8rem;
    padding: 0;
    
}

.nuevo-usuario-nombre label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    position: absolute;
    top: 4rem;
    left: 53rem;
    
}

.nuevo-usuario-apellido label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    position: absolute;
    top: 8rem;
    left: 53rem;
    
}

.titulo-contr {
    position: absolute;
    top: 25px;
    left: 5.5rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.titulo-email {
    position: absolute;
    top: 233px;
    left: 5.5rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.titulo-usuario {
    position: absolute;
    top: 1.7rem;
    left: 53rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.inputActualContr input{
    width: 340px;
    position: absolute;
    top: 5.5rem;
}

.inputNuevaContr input{
    width: 340px;
    position: absolute;
    top: 9.5rem;
}

.inputNuevoEmail input{
    width: 340px;
    position: absolute;
    top: 18.5rem;
    left: 5rem;
}

.inputNuevoUsuarioNombre input{
    width: 340px;
    position: absolute;
    top: 5.5rem;
    left: 53rem;
}

.inputNuevoUsuarioApellido input{
    width: 340px;
    position: absolute;
    top: 9.5rem;
    left: 53rem;
}

.boton-cambiar-contr {
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 1rem 1rem 1rem 1rem;
    border: solid thin;
}

.boton-cambiar-email {
    margin-top: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 1rem 1rem 1rem 1rem;
    border: solid thin;
    position: absolute;
    top: 18rem;
    left: 5rem;
}

.boton-cambiar-nombre-usuario {
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 1rem 1rem 1rem 1rem;
    border: solid thin;
    position: absolute;
    top: 10rem;
    left: 57.7rem;
}

.imagen-password {
    position: absolute;
    left: 2.5rem;
    top: 1rem;
}

.imagen-correo {
    position: absolute;
    left: 2.5rem;
    top: 14rem;
}

.imagen-usuario {
    position: absolute;
    left: 50rem;
    top: 1.3rem;
}

.mensaje-error-password {
    position: absolute;
    top: 1.8rem;
    left: 13rem;
    color: red;
}

.mensaje-exito-password {
    position: absolute;
    top: 1.8rem;
    left: 13rem;
    color: green;
}

.mensaje-error-email {
    position: absolute;
    top: 14.8rem;
    left: 9.5rem;
    color: red;
}
.mensaje-exito-email {
    position: absolute;
    top: 14.8rem;
    left: 9.5rem;
    color: green;
}

.mensaje-error-nombre-usuario {
    position: absolute;
    top: 14.5rem;
    left: 54rem;
    color: red;
}

.mensaje-exito-nombre-usuario {
    position: absolute;
    top: 14.5rem;
    left: 55.5rem;
    color: green;
}
