/* Estilo global para el cuerpo del documento */
body {
    font-family: 'Mulish', sans-serif;
    margin: 0; /* Eliminar márgenes por defecto */
    padding: 0; /* Eliminar relleno por defecto */
}
/* Estilos para el contenedor principal */
.div-general{
    display: flex;
}
/* Estilos para el div que contiene la imagen */
.div-imagen {
    flex: 1; /* Hace que div-imagen ocupe todo el espacio disponible */
}
/* Estilos para el div que contiene el formulario de registro */
.div-registro {
    flex: 1; /* Hace que div-login ocupe todo el espacio disponible */
    text-align: center; /* Alinea el contenido al centro dentro de div-login */
    position: relative; 
}
/* Estilos para la imagen dentro de div-registro */
.div-registro img {
    position: absolute; /* Establece la posición absoluta en la imagen */
    left: 594px; /* Posición en el eje x */
    top: 57px; /* Posición en el eje y */
}
/* Estilos para el título del formulario */
.titulo{
    font-weight: 700; /* Negrita */
    font-size: 36px; /* Tamaño de fuente de 36 píxeles */
    position: absolute; /* Establece la posición absoluta en la imagen */
    left: 344px; /* Posición en el eje x */
    top: 169px; /* Posición en el eje y */
}
/* Estilos para el campo de nombre */
.nombre{
    position: absolute; /* Establece la posición absoluta en la imagen */
    left: 190px; /* Posición en el eje x */
    top: 277px; /* Posición en el eje y */
}
/* Estilos para el campo de apellido */
.apellido{
    position: absolute; /* Establece la posición absoluta en la imagen */
    left: 190px; /* Posición en el eje x */
    top: 390px; /* Posición en el eje y */
}
/* Estilos para el campo de correo electrónico */
.email{
    position: absolute; /* Establece la posición absoluta en la imagen */
    left: 190px; /* Posición en el eje x */
    top: 510px; /* Posición en el eje y */
}
/* Estilos para el campo de contraseña */
.contraseña{
    position: absolute; /* Establece la posición absoluta en la imagen */
    left: 190px; /* Posición en el eje x */
    top: 628px; /* Posición en el eje y */
}
/* Estilos generales para los campos de entrada */
.inputDatos{
    width: 552px;
    height: 60px;
}
/* Estilos específicos para el campo de nombre */
.inputNombre{
    position: absolute; /* Establece la posición absoluta en la imagen */
    left: 175px; /* Posición en el eje x */
    top: 353px; /* Posición en el eje y */
    font-size: 28px;
}
/* Estilos específicos para el campo de apellido */
.inputApellido{
    position: absolute; /* Establece la posición absoluta en la imagen */
    left: 175px; /* Posición en el eje x */
    top: 466px; /* Posición en el eje y */
    font-size: 28px;
}
/* Estilos específicos para el campo de correo electrónico */
.inputEmail{
    position: absolute; /* Establece la posición absoluta en la imagen */
    left: 175px; /* Posición en el eje x */
    top: 586px; /* Posición en el eje y */
    font-size: 28px;
}
/* Estilos específicos para el campo de contraseña */
.inputContraseña{
    position: absolute; /* Establece la posición absoluta en la imagen */
    left: 175px; /* Posición en el eje x */
    top: 704px; /* Posición en el eje y */
    font-size: 28px;
}
/* Estilos para el botón de crear cuenta */
.botonCrear{
    position: absolute; /* Establece la posición absoluta en la imagen */
    left: 344px; /* Posición en el eje x */
    top: 844px; /* Posición en el eje y */
    width: 250px;
    height: 63px;
    background-color: white;
    border: 1px solid;
    font-size: 28px;
}
/* Estilos para el enlace */
a {
    text-decoration: none;
}
/* Estilos para la flecha de retroceso */
.flecha-volver {
    position: absolute;
    right: 110rem;
    top: 2rem;
}